{% extends 'layouts/base.html' %}

{% block PageTitle %} Login {% endblock %}

{% block Title %} Login {% endblock %}

{% block content %}
<div class="container main mt-4">
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label" for="username">Username:</label>
            <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="mb-3">
            <label class="form-label" for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
{% endblock %}
