{% extends 'layouts/base.html' %}

{% block PageTitle %} Contact {% endblock %}
{% block Title %} Contact Us {% endblock %}

{% block content %}
<style>
    body {
        background-color: #f7efd2; 
    }

    h1, h2, p {
        color: #475c6c;
    }

    .form-control {
        background-color: #f7efd2; 
        border-color: #cd8b62; 
        color: #475c6c; 
    }

    .btn-primary {
        background-color: #475c6c; 
        border-color: #475c6c; 
    }

    .btn-primary:hover {
        background-color: #8a8583; 
        border-color: #8a8583; 
    }
    .main {
        background-color: #eed7a1; 
        border-radius: 10px; 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
        width: 50%; 
        margin-left: auto; 
        margin-right: auto; 
    }
</style>

<h1>Contact Us</h1>
<p>Have a question or need assistance? Feel free to contact us using the form below:</p>
<div class="row">
    <div class=" container main offset-md-3">
        <form action="#" method="post">
            <div class="form-group">
                <label for="name">Your Name</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="email">Your Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="message">Message</label>
                <textarea class="form-control" id="message" name="message" rows="5" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
