{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<style>
   
    body {
        background-color: #f7efd2; 
    }

    .main {
        background-color: #eed7a1;
        border-radius: 10px; 
        padding: 20px; 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
        margin-top: 50px; 
        width: 50%; 
        margin-left: auto; 
        margin-right: auto; 
    }

    h2 {
        color: #475c6c; 
    }

    label {
        color: #475c6c; 
    }

    input[type="text"],
    input[type="number"],
    input[type="file"],
    textarea ,select{
        background-color: #f7efd2; 
        border: 1px solid #cd8b62; 
        color: #475c6c;
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        transition: border-color 0.3s ease-in-out;
    }

    input[type="text"]:focus,
    input[type="number"]:focus,
    input[type="file"]:focus,
    textarea:focus {
        background-color: #f7efd2; 
        border-color: #475c6c;
        color: #475c6c;
        outline: none;
    }

    input[type="checkbox"] {
        margin-right: 10px;
    }

    img {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .btn-primary {
        background-color: #475c6c; 
        border-color: #475c6c;
        color: #f7efd2;
        margin-top: 20px; 
        padding: 10px 20px;
        border-radius: 5px;
    }

    .btn-primary:hover {
        background-color: #8a8583;
        border-color: #8a8583; 
        color: #f7efd2;
    }
    .custom-file-input {
        display: none;
    }

    .custom-file-button {
        background-color: #475c6c; 
        border: 1px solid #475c6c;
        color: #f7efd2;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

    .custom-file-button:hover {
        background-color: #8a8583;
        border-color: #8a8583; 
        color: #f7efd2;
    }
    .custom-file-label {
        background-color: #f7efd2; 
        border: 1px solid #cd8b62; 
        color: #475c6c;
        display: inline-block;
        width: calc(100% - 100px);
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        transition: border-color 0.3s ease-in-out;
        text-align: center;
    }
    .custom-file-label:hover,
    .custom-file-label:focus {
        background-color: #f7efd2; 
        border-color: #475c6c;
        color: #475c6c;
        outline: none;
    }
    .custom-file-input:focus + .custom-file-label {
        background-color: #f7efd2; 
        border-color: #475c6c;
        color: #475c6c;
        outline: none;
    }
    .error-message {
        color: red;
        font-size: 14px;
    }
</style>
<h2>Update Book</h2>
<div class="container main mt-4">
    {% if form.instance.image %}
    <img src="{{ form.instance.image.url }}" alt="Book Image">
    {% endif %}
    <form method="post" enctype="multipart/form-data" id="bookForm">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label" for="id_title">Title:</label>
            {{ form.title }}
            {% for error in form.title.errors %}
                <div class="error-message">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="mb-3">
            <label class="form-label" for="id_no_of_pages">Number of Pages:</label>
            {{ form.no_of_pages }}
            {% for error in form.no_of_pages.errors %}
                <div class="error-message">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="mb-3">
            <label class="form-label" for="id_author">Author:</label>
            {{ form.author }}
            {% for error in form.author.errors %}
                <div class="error-message">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="mb-3">
            <label class="form-label" for="id_price">Price:</label>
            {{ form.price }}
            {% for error in form.price.errors %}
                <div class="error-message">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="mb-3">
            <label class="form-label" for="id_category">Category:</label>
            {{ form.category }}
            {% for error in form.category.errors %}
                <div class="error-message">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="mb-3">
            <label class="form-label" for="id_image">Image:</label>
            {{ form.image }}
            {% for error in form.image.errors %}
                <div class="error-message">{{ error }}</div>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('input, textarea, select').forEach(function(input) {
            input.removeAttribute('required');
        });
    });
</script>
{% endblock %}
