{% extends 'layouts/base.html' %}
{% load static %}
{% block PageTitle %} Home {% endblock %}
{% block Title %} Categories {% endblock %}

{% block content %}
<style>
    body {
        background-color: #eed7a1; 
    }
    h2 {
        color: #475c6c; 
    }
    th {
        background-color: #475c6c; 
        color: #f7efd2; 
    }
    .btn-primary {
        background-color: #cd8b62; 
        border-color: #cd8b62; 
        color: #f7efd2;
    }
    .btn-primary:hover {
        background-color: #8a8583; 
        border-color: #8a8583; 
        color: #f7efd2; 
    }
    .table {
        background-color: #f7efd2; 
    }
    tbody tr:hover {
        background-color: #8a8583; 
    }
    tbody td {
        color: #475c6c;
    }
    a {
        color: #f7efd2; /* Light beige link color */
    }
</style>

<div class="container mt-4">
    <h2>Categories</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.description }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ category.show_url }}">Show</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button class="btn btn-primary">
        <a href="{% url 'categorie.create' %}" style="color: #f7efd2;">Add New Category</a>
    </button>
</div>
{% endblock %}
